#cabezera{
	text-align: center;
}

#oeste{
	width: 17%;
}

#centro{
	width: 65%;
}

#este{
	width: 18%;
}

#right{
	width: 56.5%;
}

#left{
	width: 39%;
}

#seleccionados{
	overflow: auto;
	height: 30em;
	width: 18em;
}

#botones_div{
	text-align: center;
	padding: 1em;
}

#precio_div{
	text-align: left;
	padding: 1em;

}

#panel_escenario{
	text-align: left;
}

#tbl_escenario{
	font-size: 0.6072em;
}

.tabla_escenario{
	margin: 1em;
}

.listado_eventos a{
	display: block;
}

.listado_eventos{
	display: inline-block;
	margin: 1em;
	vertical-align: top;
	height: 20em;
	width: 10em;
}

.lista_eventos{
	display: block;
}

.paginador{
	text-align: center;
}

.secciones{
	display: inline-block;
	margin: 1em;
	vertical-align: top;
}

.img_evento{
	width: 15em;
	height: 30em;
}

.evento_info{
	width: 80%;
}

.celdas_escenario{
	padding: 0.1em;
}

.asiento{
	border: 1px #ccc solid;
	text-align: center;
	cursor: pointer;
}

.reservado{
	color: white;
	background-color: red;
}

.seleccionado{
	color: white;
	background-color: blue;
}